# Operating System Files
.DS_Store
Thumbs.db

# Environment Files
.env
*.local
*.txt

# Virtual Environment
.venv
.venv/
/V0
# Egg Info Directories
*.egg-info
*.egg-info/

attack_responses/scanoutput.txt
# Dependency Directories
node_modules/
vendor/
__pycache__/

# Build Directories
dist/
build/
out/
attack_responses/
test/test_lib_local.py

# IDE/Editor Specific Files
.idea/
.vscode/
*.sublime-project

# Log Files
*.log

# Test Output
coverage/

# Temporary Files
*.tmp
*.bkp
*.wip

# Ignore all files in the .gitignore directory
.gitignore
